body {
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.desktop {
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #fcfcfc;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .overlap-group {
  position: absolute;
  width: 350px;
  height: 550px;
  top: 32px;
  left: 250px;
  background-color: #e8eefa;
}

.desktop .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: absolute;
  top: 34px;
  left: 80px;
}

.desktop .babcocklogo {
  position: relative;
  width: 80px;
  height: auto;
  object-fit: cover;
}

.desktop .frame-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 150px;
  left: 70px;
}

.desktop .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .image {
  position: relative;
  width: 51.2px;
  height: 51.2px;
  object-fit: cover;
}

.desktop .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
  position: relative;
  flex: 0 0 auto;
  top: -15px;
  border-radius: 8px;
}

.desktop .img {
  position: relative;
  width: 24.78px;
  height: 24.78px;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: var(--purple);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  position: relative;
  top: -40px;
  left: -15px;
  flex: 0 0 auto;
  background-color: #093697;
  border-radius: 8px;
}

.desktop .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .frame-tick {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: -53px;
  flex: 0 0 auto;
}

.desktop .frame-login {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 a {
  color: #ffffff;
}

.desktop .ticket {
  position: relative;
  width: 23.29px;
  height: 23.29px;
}

.desktop .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 400px;
  left: 70px;
}

.desktop .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fefefe;
  border-radius: 8px;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
  color: var(--orange);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: absolute;
  top: 170px;
  left: 752px;
}

.desktop .frame-10 {
  display: flex;
  flex-direction: column;
  width: 550px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 550;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal
}

.desktop .frame-11 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .frame-12 {
  display: flex;
  width: 360px;
  height: 47px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #e8eefa;
  border-radius: 13px;
  font-size: 20px;
  border: 2px solid;
  border-color: var(--purple);
}

.desktop .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .button {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 17px 0px;
  position: relative;
  top: -15px;
  flex: 0 0 auto;
  background-color: var(--orange);
  color: #ffffff;
  border-radius: 13px;
  cursor: pointer;
}

.desktop .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -6.5px;
  margin-right: -6.5px;
  font-family: "Satoshi-Regular", Helvetica;
  font-weight: 400;
  color: #fefefe;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}
