body {
    margin: 0;
    background-color: #f2f2f2;
    overflow: hidden;
}
.box1 {
    width: 250px;
    height: 420px;
    left: 300px;
    text-align: center;
    top: 110px;
    position: absolute;
    background: #093697;
    display: flex;
    padding: 20px;
}
.main-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
.login-container {
    position: absolute;
    left: 590px;
    top: 80px;
    background-color: #fff;
    padding: 30px;
    flex: 1;
    width: 400px;
    height: 400px;
    margin-top: 30px;
  }
.logo {
    padding: 6px;
    left: 83px;
    top: 34px;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
.logo img {
    width: 70px;
    height: auto;
}
.digitalizing {
    left: 90px;
    top: 170px;
    position: absolute;
    color: #FEFEFE;
    font-size: 30px;
    font-family: "Satoshi-Bold", Helvetica;
    text-align: left;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
}
.tagline {
    left: 90px;
    top: 250px;
    position: absolute;
    color: rgba(254, 254, 254, 0.5);
    font-size: 14px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    word-wrap: break-word;
}
.other {
    height: 134px;
    left: 650px;
    top: 0; /* Updated to move the login section to the top */
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}
.other1 {
    color: #0D0D0D;
    font-size: 64px;
    font-family: Satoshi;
    font-weight: 700;
    word-wrap: break-word;
}
.title {
    color: #0D0D0D;
    font-size: 41px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    word-wrap: break-word;
    align-items: end;
}
.subtitle {
    color: #0D0D0D;
    position: absolute;
    top: 85px;
    font-size: 13px;
    font-family: "Satoshi-Medium", Helvetica;
}
.form-section {
    position: absolute;
    top: 2px;
    left: 80px;
}
.form-input-section {
    position: absolute;
    top: 145px;
}
.input-section {
    height: 93px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    display: inline-flex;
}

.input-label {
    color: #0D0D0D;
    font-size: 15px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 550;
    word-wrap: break-word;
    align-self: start;
}

.input-box {
    width: 250px;
    height: 13px;
    padding: 13px;
    background: #E8EEFA;
    border-radius: 10px;
    border: 2px #0a3697 solid;
    justify-content: center;
    align-items: center;
    gap: 3px;
    display: inline-flex;
}
.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
#password-toggle {
    position: absolute;
    top: 138px;
    left: 251px;
    width: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
button {
    padding: 15px;
    background-color: #AF8B0F;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}
.login-button {
    position: absolute;
    top: 183px;
    left: 1px;
    width: 100px;
    height: 43px;
}

/* Dashboard CSS: */
  a {
    text-decoration: none;
  }

  .desktop {
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #fcfcfc;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 350px;
    height: 550px;
    top: 40px;
    left: 250px;
    background-color: #e8eefa;
  }
  
  .desktop .frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: absolute;
    top: 34px;
    left: 80px;
  }
  
  .desktop .babcocklogo {
    position: relative;
    width: 80px;
    height: auto;
    object-fit: cover;
  }
  
  .desktop .frame-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 150px;
    left: 70px;
  }
  
  .desktop .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .image {
    position: relative;
    width: 51.2px;
    height: 51.2px;
    object-fit: cover;
  }
  
  .desktop .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0px;
    position: relative;
    top: -15px;
    flex: 0 0 auto;
    border-radius: 8px;
  }
  
  .desktop .img {
    position: relative;
    width: 24.78px;
    height: 24.78px;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: var(--purple);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: -30px;
    flex: 0 0 auto;
  }
  
  .desktop .frame-login {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: 2px;
    flex: 0 0 auto;
  }

  .desktop .ticket {
    position: relative;
    width: 23.29px;
    height: 23.29px;
  }
  
  .desktop .frame-7 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 400px;
    left: 70px;
  }
  
  .desktop .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #fefefe;
    border-radius: 8px;
  }
  
  .desktop .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #af8c0e;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }

  .desktop .text-wrapper-4 a {
    color: #af8c0e;
  }
  
  .desktop .frame-8 {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 116px;
    left: 730px;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Satoshi-Bold", Helvetica;
    font-weight: 700;
    color: var(--black);
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 380px;
    height: 270px;
    top: 180px;
    left: 730px;
    background-color: #af8b0f;
    border-radius: 16px;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    top: 24px;
    left: 29px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: #fefefe;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }  

/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
  .box1 {
      max-width: 80%;
      margin: 0;
      padding: 10px;
  }

  .main-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }

  .login-container {
      max-width: 100%;
      margin-top: 10px;
      padding: 20px;
  }
}